@import url(https://fonts.googleapis.com/css?family=Dosis|Open+Sans:700,400,400italic);

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #E6E6E6;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Dosis', sans-serif;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}


.bubble {
    width: 90%;
    background-color: #FFFFFF;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.center {
    text-align: center;
}

.img-border {
    border-style: solid;
    border-width: 4px;
}

.slides {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}

.slides iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.header {
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


/* Nav Bar Styles */

.nav-bar {
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
    text-align: right;
    overflow: auto:
    width: 100%;
    background-color: white;
}

.nav-bar li {
    display:inline-block;
}

.nav-bar .left {
    text-align: left;
    float: left;
}

.nav-bar ul {
    padding: 0px;

}

.nav-bar a {
    color: black;
    text-decoration: none;
    display: block;
    padding-left:36px;
    padding-right:36px;
    padding-top: 18px;
    padding-bottom: 18px;
}

.nav-bar a:hover {
    background-color: rgba(0,0,0,0.15);
    color:white; 
}

/* Nav Side Styles */

.nav-side {
    font-family: 'Dosis';
}

.nav-side h3 {
    font-size: 24px;
}

.nav-side h4{
    font-size: 18px;
    margin: 10px;
    margin-left: 18px;
}

.nav-side ul{
    list-style: none;
}

.nav-side a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
}

.nav-side a:hover {
    color: white;
    background-color: rgba(0,0,0,0.05);
}

.nav-side a.title:hover {
    background-color: #E6E6E6;
}

