@import url(https://fonts.googleapis.com/css?family=Dosis|Open+Sans:700,400,400italic);

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #E6E6E6;
}

r {
    font-style: italic;
    color: #969696;
}


h1, h2, h3 {
    font-family: 'Dosis', sans-serif;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}


.session {
    width: 90%;
    background-color: #FFFFFF;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
}


.session-head {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.session-head h1, h3 {
    padding: 0px;
}



.today {
    padding-bottom: 20px;
}

.today h1 {
    text-align: center;
}

.activity h1 {
    font-family: 'Open Sans', san-serif;
    text-align: left;
    font-size: 100%;
    font-weight: 700;
}

.activity p {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.page {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border: 2px solid #000;
}

.page h1 {
    text-align: center;
}

.debrief h1 {
    text-align: center;
}

.debrief h3 {
    font-family: 'Open Sans', san-serif;
    text-align: left;
    font-size: 100%;
    font-weight: 700;
}

.col1of2 {
    width: 45%;
    float: left;
    margin: 2.5%;
}

.col2of2 {
    width: 45%;
    float: left;
    margin: 2.5%;
}



.code {
    width: 90%;
    margin: auto;
    text-align: center;
    font-style: 'Consolas';
    font-size: 300%;
}

.center {
    text-align: center;
}

.imageBorder {
    border-width: 4px;
    border-style: solid;
}

.list-none {
    list-style: outside circle;
    text-indent: 0px;
}

/* Sidebar Styles */

.sidebar-nav {
        font-size: 12px;
        top: 0;
        margin: 0;
        padding: 0;
        list-style: none outside none;
}

.sidebar-nav ul {
    list-style: none outside none;
    margin-left: -20px;
}

.sidebar-nav li {
    color: #000;
    line-height: 30px;
                                
}

                                
.sidebar-nav li a {
    padding-left: 10px;
    display: block;
    text-decoration: none;
    color: #000;
}

                                            
.sidebar-nav li a:hover {
    text-decoration: none;
    color: #999999;
    background: rgba(255,255,255,0.2);
}

                                                        
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

                                                            
.sidebar-nav > .sidebar-brand {
    text-align: center;
    font-family: 'Dosis', sans-serif;
    font-size: 24px;
    margin-top: 24px;
}

                                                                        
.sidebar-nav > .sidebar-brand a {
    color: #000;
}

                                                                            
.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}
#page-content-wrapper {
    width: 85%;
    float: left;
    padding: 0px;
}

#sidebar-wrapper {
    width: 15%;
    float:left;
    padding-left: 20px;
}
