
#title{
    margin: 0;
    padding: 50px;
    background-size: cover;
    background-color: #F4F4F4    ;
    font-family: 'Source Sans Pro', sans-serif;
}


body{
    margin: 0;
}

h1, h2, h3 , h4, h5{
    font-family: 'Source Serif Pro', serif;
}

h1 {
    font-weight: 300;
}
h3 {
    font-weight: 300;
}
h4 {
    font-weight: 300;
}

ul, h4 {
    margin: 0px;
}



a {
    text-decoration: none;
    color: #279989;
}

a:hover {
    color: #017E7C;
}


li {
    padding-bottom: 5px;
}
