<!-- Navigation Bar -->



<header class="site-header">

<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="http://127.0.0.1:4000/index.html">SOPHIE @ GMS</a>
    </div>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="http://127.0.0.1:4000/#">About Me</a></li>
        <li><a href="http://127.0.0.1:4000/grade-6/index.html">6th Grade</a></li>
        <li><a href="http://127.0.0.1:4000/#">7th Grade</a></li>
      </ul>
    </div>
  </div>
</nav>
</header>
