<h3 class="center"><a class=title href="{{ site.url }}grade-7/index.html">7th Grade CS</a></h3>

<hr>

<h4>Personal Website</h4>

<ul>
    <li><a href="{{ site.url }}grade-7/project-setup">Project Setup</a></li>
    <li><a href="{{ site.url }}grade-7/tips-and-tricks">HTML Tips and Tricks</a></li>
    <li><a href="{{ site.url }}grade-7/style">Style Your Website</a></li>
    <li><a href="{{ site.url }}grade-7/nav-bar">Add a Nav Bar</a></li>
    <li><a href="{{ site.url }}grade-7/nav-responsive">Responsive Nav Bar</a></li>
    <li><a href="{{ site.url }}grade-7/website-wrapup">Wrap Up</a></li>

</ul>



