<h3 class="center"> 6th Grade CS </h3>
<hr>

<h4><a href="{{ site.url }}grade-6/studios">Scratch Studios</a></h4>

<hr>

<h4>Tech Lab</h4>

<ul>
    <li><a href="{{ site.url }}grade-6/record-interview">Record Storycorps interview</a></li>
</ul>

<hr>

<h4>Exploring Scratch</h4>

<ul>
    <li><a href="{{ site.url }}grade-6/scratch-intro">Introduction to Scratch</a></li>
    <li><a href="{{ site.url }}grade-6/share-project">Sharing your project </a></li>
    <li><a href="{{ site.url }}grade-6/check-in">Check-in</a></li>
</ul>

<hr>

<h4>Seedfolks Animation</h4>
<ul>
    <li><a href="{{ site.url }}grade-6/storyboard-video">Using Broadcast Messages</a></li>
    <li><a href="{{ site.url }}grade-6/storyboard-wrapup">Project Wrap-up</a></li>
</ul>


