<!DOCTYPE html>
<html lang="en">
        
   {% include head.html %}

   <body>

       {% include nav-top.html %}

       <div class="row">

           <div class="col-sm-12 col-md-2 nav-side">


                   {% include nav-side-6.html %}


           </div>

           <div class="col-sm-12 col-md-10">

               <div class="content-wrapper">

                   {{ content }}

               </div>

           </div>
       </div>



       
       <!-- /.container -->
       
       <!-- jQuery Version 1.11.0 -->
       <script src="http://slibkind.github.io/js/jquery-1.11.1.min.js"></script>
       
       <!-- Bootstrap Core JavaScript -->
       <script src="http://slibkind.github.io/js/bootstrap.min.js"></script>
   
   </body>
</html>


