<!DOCTYPE html>
<html lang="en">
        
   {% include head.html %}

   <body>

       {% include header.html %}

       <div class="container">

           {{ content }}

       </div>

       
       <!-- /.container -->
       
       <!-- jQuery Version 1.11.0 -->
       <script src="http://slibkind.github.io/js/jquery-1.11.1.min.js"></script>
       
       <!-- Bootstrap Core JavaScript -->
       <script src="http://slibkind.github.io/js/bootstrap.min.js"></script>
   
   </body>
</html>


